.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid var(--background-color-1);
  background-color: var(--background-color-1);
  color: var(--text-color-2);
  border-radius: 15px;
  outline: none;
  transition: border 0.3s ease-in-out;
  font-size: var(--text-small);
  font-family: var(--font-main);
}

.contact-form textarea {
  resize: none;
  height: 250px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--shadow-color-1); /* Low opacity placeholder */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--text-color-2);
}

.contact-form button {
  width: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-left-color: var(--text-color-2);
  animation: spin 1s linear infinite;
  margin: 10px auto 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-form button:disabled {
  background-color: var(--background-color-1);
  cursor: not-allowed;
}

/*========================== MOBILE DEVICE =========================*/

@media (max-width: 860px) {
  .contact-form {
    zoom: 0.8;
  }
}

@media (max-width: 710px) {
  .contact-form {
    width: auto;
    padding: 0;
  }
}
