.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-1);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: box-shadow 0.3s ease-in-out;
}

.header.scrolled {
  box-shadow: var(--shadow-color-1);
}

.logo-link {
  text-decoration: none;
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  color: var(--text-color-2);
  margin-left: 200px;
  cursor: pointer;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav ul li {
  margin: 0 15px;
  cursor: pointer;
}

.nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color-1);
  font-weight: var(--font-medium);
  font-size: var(--text-regular);
  padding-bottom: 5px;
}

.nav ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color-2);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.nav ul li a:hover {
  color: var(--text-color-2);
}

.contact-btn {
  margin-right: 200px;
}
