.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-1);
}

.logo-link {
  text-decoration: none;
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  color: var(--text-color-2);
  margin-left: 200px;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;

  color: var(--text-color-1);
  font-weight: var(--font-medium);
  font-size: var(--text-regular);
}

.nav ul li a:hover {
  color: var(--text-color-2);
}

.contact-btn {
  margin-right: 200px;
  background-color: var(--text-color-1);
  color: var(--background-color-1);
  font-size: var(--text-small);
  font-weight: var(--font-medium);
  font-family: var(--font-main);
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-btn:hover {
  background-color: var(--text-color-2);
  transform: scale(1.05);
}
