.home {
  position: relative;
  display: flex;
  height: 649px;
}

.photo {
  width: 600px;
  height: auto;
  display: block;
  margin-left: 40%;
  z-index: 2;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.triangle.one {
  border-width: 450px 0 0 900px;
  border-color: transparent transparent transparent var(--background-color-2);
  left: 0;
  bottom: 0;
  z-index: 1;
}

.triangle.two {
  border-width: 550px 500px 0 0;
  border-color: var(--background-color-3) transparent transparent transparent;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  z-index: 3;
}
