.project-rectangle {
  width: 300px;
  height: 300px;
  border: 2px solid var(--text-color-2);
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-title,
.project-technologies,
.see-more {
  transition: color 0.3s ease;
}

.project-rectangle:hover .project-title,
.project-rectangle:hover .project-technologies,
.project-rectangle:hover .see-more {
  color: var(--background-color-1);
}

.project-rectangle:hover {
  background-color: var(--background-color-2);
  transform: scale(1.05);
}

.project-title {
  position: absolute;
  width: 90%;
  white-space: normal;
  word-break: break-word;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--text-regular);
  font-weight: var(--font-semibold);
  color: var(--text-color-2);
}

.project-thumbnail {
  width: 100%;
  height: auto;
  margin: auto 0;
  border-radius: 4px;
  object-fit: cover;
  margin-top: 55px;
}

.project-technologies {
  margin-bottom: 35px;
  font-size: var(--text-small);
  color: var(--text-color-2);
}

.see-more {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--text-xs);
  color: var(--text-color-2);
  text-decoration: underline;
}

/*================== Project Modal =========================*/

body.active-ProjectModal {
  overflow-y: hidden;
}

.ProjectModal {
  z-index: 101;
}

.ProjectModal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.ProjectModal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--background-color-1);
  padding: 0;
  border-radius: 5px;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.ProjectModal-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1;
  padding: 0;
  border-radius: 5px;
}

.ProjectModal button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color-1);
}

.ProjectModal-window h1 {
  font-size: var(--text-regular);
}

.ProjectModal-window .content {
  padding: 0px 28px;
  overflow-y: auto;
}

.close-ProjectModal {
  font-size: var(--text-base);
}

.open-project {
  font-size: var(--text-regular);
}

.close-ProjectModal:hover {
  background-color: transparent;
  color: var(--text-color-2);
}
