.cloud {
  width: 300px;
  height: 100px; /* Default height */
  background-color: var(--background-color-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  padding: 10px;
  box-shadow: var(--shadow-color-2);
  transition: height 0.3s ease;
}

.cloud-message.expanded .cloud {
  height: 220px;
}

.cloud-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 24px;
  color: var(--background-color-1);
}

.cloud-date {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: var(--text-xs);
  font-weight: var(--font-regular);
  color: var(--background-color-1);
}

.cloud-title {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: var(--text-medium);
  font-weight: var(--font-semibold);
  color: var(--background-color-1);
}

.cloud-read-more {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: var(--text-xs);
  color: var(--background-color-1);
  cursor: pointer;
  text-decoration: underline;
}

.cloud-description {
  left: 8px;
  color: var(--background-color-1);
  font-size: var(--text-xs);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  padding-top: 80px;
}

.cloud-message.expanded .cloud-description {
  opacity: 1;
  max-height: 100px;
}

.right-cloud-arrow,
.left-cloud-arrow {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  z-index: 1;
}

.right-cloud-arrow {
  left: -14px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--background-color-2);
}

.left-cloud-arrow {
  right: -14px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--background-color-2);
}
